@font-face {font-family: "Object Sans"; src: url("//db.onlinewebfonts.com/t/808d2427840352d64fbff2bc8dc40b2b.eot"); src: url("//db.onlinewebfonts.com/t/808d2427840352d64fbff2bc8dc40b2b.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/808d2427840352d64fbff2bc8dc40b2b.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/808d2427840352d64fbff2bc8dc40b2b.woff") format("woff"), url("//db.onlinewebfonts.com/t/808d2427840352d64fbff2bc8dc40b2b.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/808d2427840352d64fbff2bc8dc40b2b.svg#Object Sans") format("svg"); }

body {
    font-family: 'Montserrat';
    color: #ffffff;
    font-size: 16px;
    background-color: #252B42;
}

.header_logo {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 2rem;
    color: white;
}

.navbar-light .navbar-brand {
    color: #ffffff;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;

}
.navbar-light .navbar-toggler {
    border: none;
    box-shadow: none;
}
.navbar-light .navbar-toggler-icon {
    background-image: url("./img/Vector.svg");
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: darkgray;
}

.navbar-nav li {
    font-weight: 400;
    font-size: 1.95rem;
    line-height: 2.813;
}


.header_title {
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 3.563rem;
}

.header_desc {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.875rem;
}

.header_text {
    text-align: center;
}

.btn {
    color: #ffffff;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.25rem;
    border-radius: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_btn_large {
    background-color: #23A6F0;
    width: 185px;
    height: 42px;
}

.header_btn_small {
    width: 154px;
    height: 42px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
}

.main_decr {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.features__card--title {
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.5rem;
}

.testimonials__card-item {
    background-color: white;
}

.testimonials__circle-box {
    border-radius: 200px;
}

.testimonials__main-content {
    background-color: white;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    border-radius: 5px;
}

.carousel-item__card {
    border: none;
}
.testimonials__card-content-text {
    color: #737373;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.testimonials__card-content-name{
    color: #252B42;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 2rem;
}

.testimonials__card-content-prof {
    color: #737373;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.5rem;
}

.app-button {
    border: 1.90776px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 9.53881px;
    min-height: 85px;
    text-decoration: none;
    background-color: white;
}

.text_button {
    font-size: 0.875rem;
    line-height: 1.375rem;
}

.text_button_other {
    font-weight: bold;
    font-size: 1.438rem;
    line-height: 1.688rem;
}

.text_button,.text_button_other {
    color: #252B42;
    font-family: Object Sans;
}

.pricing_wrap {
    border: 1px solid #23A6F0;
    box-sizing: border-box;
    border-radius: 10px;
}

.pricing_text{
    color: #23A6F0;
}

.pricing__title {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 2rem;
}

.pricing_desc {
    color: #737373;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.5rem;
}

.pricing_per {
    font-size: 0.875rem;
    line-height: 1.5rem;
}

.pricing_per-bolth {
    font-weight: bold;
}

.pricing__button {
    width: 162px;
    height: 52px;
    background: #23A6F0;
    border-radius: 5px;
}

.pricing__button--text {
    font-weight: bold;
    font-size: 0.875rem;
    line-height: 1.375rem;
}

.contact_mapbg {
    width: 313px;
    height: 169px;
    background: url("img/pngwing.png") no-repeat;
}

.contact__card-item--media {
    min-height: 259px;
    width: 414px;
    background: url("img/contact-cover-sm.jpg");
}

.form__title {
    color: #252B42;
}

.contact__form-text {
    color: #252B42;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.5rem;
}

.contact__form-text label,select {
    background: #F9F9F9;
    color: #737373;
    font-size: 0.875rem;
    line-height: 1.75rem;
}

.contact__form-text select {
    background: #F9F9F9;
}

.contact__form__button{
    width: 100%;
    height: 52px;
    background: #23A6F0;
    border-radius: 5px;
}

.footer__text--second {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.footer__text--color {
    color: #252B42;
}

.footer__link--text {
    text-decoration: none;
    color: white;
}

/*--- media qwerty for large devices ---*/
@media (min-width: 992px) {

    .navbar-nav li {
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1.25rem;
    }

    .header__nav--button {
        width: 214px;
        height: 52px;
        background: #23A6F0;
        border-radius: 5px;
    }

    .header_text {
        text-align: left;
        margin-left: 0;
    }

    .header_title-lg {
        font-size: 3.25rem;
        line-height: 5rem;
    }

    .features__second-text {
        color: #737373;
    }

    .card-item {
        border: 1px solid #F2F2F2;
        box-sizing: border-box;
        border-radius: 2px;
    }

    .features__card--title {
        font-size: 0.825rem;
    }

    .app-button {
        border: 1.90776px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 9.53881px;
        min-height: 85px;
        text-decoration: none;
        background-color: #252B42;
    }

    .app__button--inner {
        color: white;
    }

    .text_button,.text_button_other {
        color: #ffffff;
    }

    .text_button {
        font-size: 0.75rem;
        line-height: 1.275rem;
    }

    .text_button_other {
        font-weight: bold;
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .pricing_wrap {
        display: flex;
    }

    .contact_mapbg {
        width: 100%;
    }

    #contact {
        background-image: linear-gradient(transparent 60%, #FAFAFA 40%);
    }

    .header_title__contact--lg {
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 2rem;

    }

    #footer {
        background-image: linear-gradient(transparent 75%, #FAFAFA 25%);
    }

    .footer__text--color {
        color: #737373;
    }

    .contact__img {
        min-width: 267px;
    }

    .contact__form--wrap {
        width: 100%;
        background-color: white;
    }
}
