@font-face {font-family: "Object Sans"; src: url("//db.onlinewebfonts.com/t/808d2427840352d64fbff2bc8dc40b2b.eot"); src: url("//db.onlinewebfonts.com/t/808d2427840352d64fbff2bc8dc40b2b.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/808d2427840352d64fbff2bc8dc40b2b.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/808d2427840352d64fbff2bc8dc40b2b.woff") format("woff"), url("//db.onlinewebfonts.com/t/808d2427840352d64fbff2bc8dc40b2b.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/808d2427840352d64fbff2bc8dc40b2b.svg#Object Sans") format("svg"); }

body {
    font-family: 'Montserrat';
    color: #ffffff;
    font-size: 16px;
    background-color: #252B42;
}

.header_logo {
    font-size: 1.5rem;
    line-height: 2rem;
    color: white;
}

.navbar-light .navbar-brand {
    color: #ffffff;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;

}
.navbar-light .navbar-toggler {
    border: none;
    box-shadow: none;
}
.navbar-light .navbar-toggler-icon {
    background-image: url("./img/Vector.svg");
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: darkgray;
}

.navbar-nav li {
    font-weight: 400;
    font-size: 1.95rem;
    line-height: 2.813;
}

.navbar-nav {
    margin: 80px 0;
}

.navbar {
    padding: 20px 0;
}

.header_title {
    padding: 0 40px;
    line-height: 3.563rem;
    font-weight: bold;
    font-size: 2.5rem;
}

.header_desc {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.875rem;
    padding: 0 40px;
}

.btn {
    color: #ffffff;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.25rem;
    border-radius: 37px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_btn_large {
    background-color: #23A6F0;
    width: 185px;
    height: 42px;
}

.header_btn_small {
    width: 154px;
    height: 42px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
}

.main_decr {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.features__card--title {
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.5rem;
}

.testimonials__card-item {
    background-color: white;
}

.testimonials__circle-box {
    border-radius: 200px;
}

.testimonials__main-content {
    background-color: white;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    border-radius: 5px;
}

.testimonials__card-content-text {
    color: #737373;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.testimonials__card-content-name{
    color: #252B42;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 2rem;
}

.testimonials__card-content-prof {
    color: #737373;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.5rem;
}

.app-button {
    border: 1.90776px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 9.53881px;
    min-height: 85px;
}

.text_button {
    font-size: 0.875rem;
    line-height: 1.375rem;
}

.text_button_other {
    font-weight: bold;
    font-size: 1.438rem;
    line-height: 1.688rem;
}

.text_button,.text_button_other {
    color: #252B42;
    font-family: Object Sans;
}
