body {
    font-family: 'Montserrat';
    color: #ffffff;
    font-size: 16px;
}

.header_logo {
    font-size: 24px;
    line-height: 32px;
    color: white;
}

.navbar-light .navbar-brand {
    color: #ffffff;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 32px;

}
.navbar-light .navbar-toggler {
    border: none;
    box-shadow: none;
}
.navbar-light .navbar-toggler-icon {
    background-image: url("./img/Vector.svg");
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
}
.navbar-nav li {
    font-weight: 400;
    font-size: 1.95rem;
    line-height: 45px;
}

.navbar-nav {
    margin: 80px 0;
}

.navbar {
    padding: 20px 0;
}
